body
{
    color:rgb(50, 2, 38);
    background: rgb(247, 11, 239);
}
.heading
{
width:50%;
font-size:22px;
}
#camera
{
border:2px dashed rgb(13, 175, 239);
width:350px;
height: 300px;
}
.name_of_characters, #result_characters_name , #result_characters_accuracy
{
    color: rgb(38, 0, 255);
}